@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Rokkitt:wght@200;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
@import 'title';
@import 'input';
@import 'card';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #eee;
	font-family: 'Lobster Two', cursive;
	background-image: url('../image/glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg');
	background-size: cover;
	min-height: 100vh;
}

.wrapper {
	width: 800px;
	height: 90vh;
	position: absolute;
	padding: 100px;
	top: 50%;
	left: 50%;
	background-color: white;
	transform: translate(-50%, -50%);
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
}